@using Anketa.Components.Additionally
@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ButtonLogin />
        </div>


        <div class="content">
            @Body
        </div>
    </main>
</div>